
<div class="bg-[#dddddd] text-white p-4 col-span-1 flex flex-col items-center rounded-lg h-full">
    <img src="https://tecdn.b-cdn.net/img/new/avatars/2.webp" class="w-32 rounded-full" alt="Avatar" />
    <div class="flex justify-center items-center w-full">
      <span class="text-xl font-bold mb-5 mt-5 text-blue-900">Robert Eggers</span>
   </div>
    <!--left profile buttons with aligned icons-->
    <div class="w-full max-w-72 mx-auto text-gray-900 bg-[#dddddd]  rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white flex flex-col items-center justify-center">
      <div class="w-full  mx-auto text-blue-900 bg-[#dddddd]  rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white flex flex-col items-center justify-center">
        <button type="button" class="flex items-center justify-center pr-5 w-full px-1 py-3 text-l font-bold border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden ">
            <span class="w-5 ml-2"><i class="fas fa-user-edit"></i></span>
            <span class=" truncate pl-1">Edit User</span>
          </button>
          <button type="button" class="flex items-center justify-center w-full px-1 py-3 text-l font-bold border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-yellow-500 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden ">
            <span class="w-5 flex justify-center items-center ml-1"><i class="fas fa-edit"></i></span>
            <span class="truncate pl-1">Edit Profile</span>
        </button>
        
        <button type="button" class="flex items-center justify-center w-full px-1 py-3 text-l font-bold border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden ">
          <span class="w-5 text-l"><i class="fas fa-book"></i></span>
          <span class="truncate pl-1">My Books</span>
        </button>
        <button type="button" class="pl-1 flex items-center justify-center w-full px-1 py-3 text-l font-bold border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-yellow-500 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden">
          <span class="w-5"><i class="fas fa-ban"></i></span>
          <span class="ml-1 truncate pl-1">Penalties</span>
        </button>
        <button type="button" class="flex items-center justify-center w-full px-1 py-3 text-l font-bold rounded-b-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden">
          <span class="w-5"><i class="fas fa-poll"></i></span>
          <span class="ml-1 truncate pl-1">Surveys</span>
        </button>
        <button type="button" class="flex items-center justify-center w-full px-1 py-3 text-l font-bold border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-yellow-500 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden">
          <span class="w-5"><i class="fas fa-cogs"></i></span>
          <span class="ml-2 truncate ">Settings</span>
        </button>
        <button type="button" class="flex items-center justify-center w-full px-1 py-3 text-l font-bold rounded-b-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden">
          <span class="w-5"><i class="fas fa-heart"></i></span>
          <span class="ml-2 truncate">Favorites</span>
        </button>
        <button type="button" class="pr-10 flex items-center justify-center w-full pr-7 px-1 py-3 text-l font-bold border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-yellow-500 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden">
            <span class="w-5"><i class="fas fa-life-ring"></i></span>
            <span class="ml-2 truncate">Help</span>
          </button>
        <button type="button" class="pl-3 flex items-center justify-center w-full px-1 py-3 text-l font-bold border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white overflow-hidden">
          <span class=" w-2 pl-1"><i class="fas fa-sign-out-alt"></i></span>
          <span class="pl-4 mr-5 truncate">Sign Out</span>
        </button>
      </div>
    </div>
    <!--left profile buttons with aligned icons end-->
  </div>
   