<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <div class="flex flex-wrap">
        <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
          <div class="flex lg:py-12 ">
            <img src="https://www.panelkirtasiye.com/productimages/494197/original/9789753638029_1.jpg"
              class="z-[10] w-full rounded-lg shadow-lg dark:shadow-black/20 lg:ml-[50px] mt-10" alt="image" />
          </div>
        </div>
  
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
          <div
            class="flex h-full items-center rounded-lg bg-blue-950 p-6 text-center text-white lg:pl-12 lg:text-left">
            <div class="lg:pl-12">
              <h2 class="mb-4 mt-6 text-3xl font-bold">Kürk Mantolu Madonna</h2>
              <div style="display: inline-block;">
                <h4 class="mb-4 mt-6 text-2xl font-bold">Sabahattin Ali</h4>
            </div>
            <div style="display: inline-block; margin-left: 20px;" >
                <h4 class="mb-4 text-2xl font-bold hover:underline" routerLink="/" >Yapı Kredi Yayınları</h4>
            </div>          


              <p class="mb-8 mt-6 pb-2 lg:pb-0">
                İlk baskısı 1943 yılında yapılan Kürk Mantolu Madonna, günümüzde halen en çok ilgi gören ve satılan kitaplar arasında bulunuyor. Basıldığı günden bu yana 1 milyondan fazla satan kitap üzerine, birçok araştırma ve inceleme yapılmış, hakkında tezler yazılmış, fakat bu başarısının sırrı tam olarak çözülememiştir. Onu bu kadar özel kılan ve hala konuşuluyor olmasındaki en büyük pay, tabii ki Sabahattin Ali’nin usta kalemi ve başarılı ruh tahlilleridir.
              </p>
              <p class="mb-8 pb-2 lg:pb-0">
              Hüzünlü bir aşk öyküsü olan Kürk Mantolu Madonna, iki hikayeden oluşan bir anlatıma sahip. İlk hikayede Rasim adlı karakterin iş bulması ve Raif Efendi ile tanışması anlatılıyor. Kimseler ile konuşmayan sessiz sakin Raif Efendi’yi gözlemleyen ve onu daha yakından tanımak isteyen Rasim’in anlatımı ile Raif Efendi’yi dinliyoruz. Onun neden bu kadar yalnız ve topluma yabancı olduğunu ise kendisinin kaleme aldığı siyah kaplı defter aracılığı ile ikinci hikayede öğreniyoruz. İkinci hikaye Raif Efendi’nin kimselere söylemediği ve anlatmadığı bir aşk hikayesi ile başlıyor. Gençlik yıllarına gittiğimiz bu defterde Raif Efendi’nin Almanya’da bir resim sergisinde Maria Puder ile tanışması ve sonrasında birbirlerine aşık olmasının hikayesi içinde bir anda kendimizi buluyoruz.
            </p>            
              <div class="grid gap-x-6 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3">
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>
                      Kitap Adı: Kürk Mantolu Madonna
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Yazar:
                      Sabahattin Ali
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Yayınevi: Yapı Kredi Yayınları
                  </p>
                </div>
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Sayfa Sayısı: 160
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>İlk Baskı Yılı: 1998
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Dil:
                      Türkçe
                  </p>
                </div>
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Tür: Edebiyat
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>ISBN:
                      9789753638029
                  </p>
                </div>
  
                <!--<div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Templates
                  </p>
                </div>!-->
              </div>
              <div class="flex items-center space-x-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold text-2xl py-5 px-7 rounded mt-10 mb-10">
                  Ödünç Al
                </button>
                <span class="text-xl">ya da</span>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold text-2xl py-5 px-7 rounded mt-10 mb-10">
                   Sepete Ekle
                </button>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
