<div class="w-full md:h-screen h-auto bg-gradient-to-b from-slate-200 to-slate-50 py-6 md:py-20 whitespace-normal overflow-auto">
  <div class="md:max-w-[1350px] max-w-[600px] xl:m-auto m-6 md:grid md:grid-cols-2">
    <div class="justify-center items-center">
      <h1 class="text-4xl font-bold text-center mt-16">Welcome!</h1>
      <p class="text-lg mt-20">
        Welcome to our library! Here, you can explore and borrow hundreds of books, magazines, and other media materials. 
        Our library management system will help you find and borrow resources easily and quickly.
      </p>
      <h4 class="text-xl font-bold mt-6">
        Please log in with your username and password:
      </h4>
      <ul class="text-xl mt-4 list-disc font-medium">
        <li>
          You can search for and borrow books and other materials that are available.
        </li>
        <li class="mt-3">
          You can view your account information, profile, and borrowing history.
        </li>
        <li class="mt-3">
          You can track your notifications, reservations, and return dates.
        </li>
      </ul>
      <p class="text-xl mt-4">
        If you're not registered, please create an account first. You can visit our contact page for help and support.
      </p>
      <p class="text-3xl font-bold text-center mt-10">
        Thank you! Enjoy your reading!
      </p>
    </div>
    <div class="ml-6">
      <swiper-container init="false">
        <ng-container *ngFor="let slide of slides">
          <swiper-slide class="w-full h-full rounded-lg">
              <img [src]="slide.imageUrl" class="w-full h-full rounded-lg" alt="slide image" />
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </div>
</div>