<div class="w-full h-auto md:h-screen bg-white py-6 md:py-16">
    <div class="md:max-w-[1350px] max-w-[600px] xl:m-auto m-6 grid grid-cols-4 gap-4 h-full">
        <!-- Sidebar -->
        <div class="md:col-span-1 flex flex-col bg-gray-100 p-4 rounded-lg h-full overflow-y-auto">
            <h1 class="text-center md:text-3xl text-sm font-bold">
                {{ selectedMaterialType === 'book' ? 'Kitaplar' : (selectedMaterialType === 'magazine' ? 'Dergiler' :
                'Makaleler') }}
            </h1>
            <ul class="mt-4 space-y-2">
                <li *ngFor="let category of materialTypes">
                    <button (click)="selectCategory(category)"
                        class="text-left w-full py-2 px-3 rounded hover:bg-gray-200 focus:outline-none focus:bg-gray-200">
                        {{ category }}
                    </button>
                </li>
            </ul>
        </div>

        <!-- Ana bölüm -->
        <div class="col-span-3">
            <!-- Kitapları listelemek için döngü -->
            <div *ngIf="selectedMaterialType === 'book'"
                class="flex justify-center items-center flex-wrap overflow-y-auto md:h-[88vh] h-screen gap-4">
                <!-- Kartlar -->
                <div *ngFor="let mergedItem of originalData" class="bg-white shadow-lg rounded-lg p-4 w-72">
                    <div class="p-4">
                        <img class="w-full h-56 object-cover rounded-t-lg" src="https://picsum.photos/100?random">
                        <!-- ISBN -->
                        <p class="text-gray-600">ISBN: {{ mergedItem.book.isbn }}</p>
                        <!-- Daha fazla oku düğmesi -->
                        <p>Kitap ismi: {{ mergedItem.material.materialName }}</p>
                        <p>Dil: {{mergedItem.material.language}}</p>
                        <p>Sayfa Sayısı: {{mergedItem.material.pageCount}}</p>
                        <p>Adet: {{mergedItem.material.quantity}}</p>
                        <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Daha fazla oku</button>
                        <!-- Material bilgileri -->
                    </div>
                </div>
                
                
            </div>

            <!-- Dergileri listelemek için döngü -->
            <div *ngIf="selectedMaterialType === 'magazine'"
                class="flex justify-center items-center flex-wrap overflow-y-auto md:h-[88vh] h-screen gap-4">
                <!-- Dergi kartları -->
                <div *ngFor="let magazine of originalData2" class="bg-white shadow-lg rounded-lg p-4 w-72">
                    <!-- Dergi resmi  -->
                    <img class="w-full h-56 object-cover rounded-t-lg" src="https://picsum.photos/100?random">
                    <!-- Dergi başlığı -->
                    <h3 class="text-xl font-bold mt-2">{{ magazine.material.materialName }}</h3>
                    <!-- Yazar 
                    <p class="text-gray-600">Yazar: {{ magazine.author }}</p>-->
                    <!-- ISSN -->
                    <p class="text-gray-600">ISSN: {{ magazine.magazine.issn }}</p>
                    <!-- Sayı -->
                    <p class="text-gray-600">Sayı: {{ magazine.magazine.issue }}</p>
                    <!-- Daha fazla oku düğmesi -->
                    <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Daha fazla
                        oku</button>
                </div>
            </div>

            <!-- Makaleleri listelemek için döngü -->
            <div *ngIf="selectedMaterialType === 'article'"
                class="flex justify-center items-center flex-wrap overflow-y-auto md:h-[88vh] h-screen gap-4">
                <!-- Makale kartları -->
                <div *ngFor="let article of originalData3" class="bg-white shadow-lg rounded-lg p-4 w-72">
                    <!-- Makale resmi -->
                    <img class="w-full h-56 object-cover rounded-t-lg" src="https://picsum.photos/100?random"> 
                    <!-- Makale başlığı -->
                    <h3 class="text-xl font-bold mt-2">{{ article.material.materialName }}</h3>
                    <p class="text-lg">{{article.material.pageCount}}</p>
                    <!-- Daha fazla oku düğmesi -->
                    <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Daha fazla
                        oku</button>
                </div>
            </div>
        </div>
    </div>
</div>