<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <div class="flex flex-wrap">
        <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
          <div class="flex lg:py-12 ">
            <img src="https://slideplayer.biz.tr/slide/17064762/98/images/5/PERAKENDEC%C4%B0L%C4%B0KTE+KATEGOR%C4%B0+Y%C3%96NET%C4%B0M%C4%B0.jpg"
              class="z-[10] w-full rounded-lg shadow-lg dark:shadow-black/20 lg:ml-[50px] mt-10" alt="image" />
          </div>
        </div>
  
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
          <div
            class="flex h-full items-center rounded-lg bg-blue-950 p-6 text-center text-white lg:pl-12 lg:text-left">
            <div class="lg:pl-12">
              <h2 class="mb-4 mt-6 text-3xl font-bold">Makale Adı</h2>
              <div style="display: inline-block;">
                <h4 class="mb-4 mt-6 text-2xl font-bold">Yazar Adı</h4>
            </div> 
            <div style="display: inline-block; margin-left: 20px;" >
                <h4 class="mb-4 text-2xl font-bold hover:underline" routerLink="/" >Yayın Evi</h4>
            </div>          


              <p class="mb-8 mt-6 pb-2 lg:pb-0">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque expedita, non odit exercitationem voluptates ipsam tempora iure inventore aperiam recusandae excepturi voluptatibus iusto officia quos eveniet accusantium est. Earum, expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ullam numquam suscipit quidem in! Illum, neque ullam. Maxime consequuntur vel mollitia, dolorem, molestiae blanditiis sequi molestias tempore est sunt accusamus.
              </p>
              <p class="mb-8 pb-2 lg:pb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sequi praesentium, dolorum accusantium fuga totam id illo esse nobis exercitationem, molestias porro illum non atque iusto quam aut vitae corrupti.
            </p>            
              <div class="grid gap-x-6 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3">
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>
                      Makale Adı: 
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Yazar:
                       
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Yayınevi:
                  </p>
                </div>
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Sayfa Sayısı: 
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Baskı Yılı: 
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Dil:
                      
                  </p>
                </div>
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Tür: 
                  </p>
                </div>
  
                <div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>ISSN:
                      
                  </p>
                </div>
                <div class="mb-6">
                    <p class="flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Publiction Name:
                        
                    </p>
                  </div>
  
                <!--<div class="mb-6">
                  <p class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Templates
                  </p>
                </div>!-->
              </div>
              <div class="mb-6">
                <p class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="mr-3 h-6 w-6 text-neutral-900 dark:text-neutral-100">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>Stok Adet:
                </p>
              </div>
              <div class="flex items-center space-x-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold text-2xl py-5 px-7 rounded mt-10 mb-10">
                  Ödünç Al
                </button>
                <span class="text-xl">ya da</span>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold text-2xl py-5 px-7 rounded mt-10 mb-10">
                   Sepete Ekle
                </button>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->


