<!-- <app-navbar></app-navbar> -->

      <div class="flex flex-col items-center content-start gap-4 mt-12 pr-2 ">

        <div class="bg-[#f5f5f5] text-black pt-5 col-span-3 flex flex-col items-center space-y--3 rounded-lg max-h-[850px] overflow-y-auto">
          <div class="container mx-auto p-2 max-w-xs sm:max-w-xs rounded-lg shadow-xl mb-6 transform hover:scale-105 transition duration-300 ease-in-out" style="box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.03);">
            <h1 class="text-blue-700 text-lg font-bold text-center">Penalty Operations</h1>
        </div>
       
       
          <div class="bg-[#f5f5f5] text-black md:w-3/4 mx-auto flex flex-col">
            <app-form-first></app-form-first>
              <!--- materials-penalty body field -->
             
              <div class="mt-4"></div>

              <app-form-second></app-form-second>
          
       
          </div>
            
          <div class="pt-4 mx-auto mx-auto pb-10 w-full sm:w-full md:w-2/3 pl-5 pr-5">
            <div class="mb-7 container mx-auto p-2 max-w-xs sm:max-w-xs  rounded-lg mt-5 shadow-xl transform hover:scale-105 transition duration-300 ease-in-out" >
              <h1 class="text-blue-700 text-lg font-bold text-center">Penalty History</h1>
          </div>
<app-table></app-table>
          
            </div>
  
        </div>
        
      </div>

  
  
  
  
   
   
  
  
  
  
  