<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Password</title>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
  
    .custom-rounded {
      border-radius: 2rem; 
    }
  </style>
</head>

<body class="bg-gradient-to-br from-blue-200 via-blue-300 to-blue-400 font-roboto">
  <div class="min-h-screen flex items-center justify-center bg-blue-100">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg custom-rounded">
      <h2 class="text-3xl font-extrabold text-gray-900 text-center mb-4">New Password</h2>
      <form [formGroup]="passwordForm" class="space-y-6">
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter your new password" [formControl]="newpassword"
           required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 custom-rounded" />
        </div>
        <div>
          <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your new password" [formControl]="confirmpassword"
           required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 custom-rounded" />
        </div>
        <button type="button" (click)="newconfirmpassword()" class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center text-white transition-colors duration-300 w-full custom-rounded">Set New Password</button>
        <div class="text-sm text-center text-gray-500 mt-4">
          Remembered your password? <a [routerLink]="['/login']" >Login</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
