<div class="bg-[#F8F8F8] ">
    <div class="container mx-auto ">
      <div class="pt-4 ">
        <div class="grid grid-cols-4 gap-4 mt-12 pr-2">
         <app-sidebar></app-sidebar><!--left menu profil fields-->
          
          <div class="bg-[#f5f5f5] text-black pt-5 col-span-3 flex flex-col items-center space-y--3 rounded-lg max-h-[1035px] overflow-y-auto">
            <div class="container mx-auto p-2 max-w-xs sm:max-w-xs rounded-lg shadow-xl mb-6 transform hover:scale-105 transition duration-300 ease-in-out" style="box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.03);">
              <h1 class="text-blue-700 text-lg font-bold text-center">Publisher Operations</h1>
          </div>
         
         
            <div class="bg-[#f5f5f5] text-black md:w-2/3 mx-auto flex flex-col ">
           <!-- <app-form-first></app-form-first> -->
           <app-form-publisher></app-form-publisher>
         <div class="mt-4"></div>
  


</div>

<div class="pt-4 mx-auto mx-auto pb-10 w-full sm:w-full md:w-2/3 pl-5 pr-5">

<!-- <app-table></app-table> -->
<app-table-publisher></app-table-publisher>

</div>

</div>

</div>
</div>
</div>
</div>





