<div class="h-[70vh] w-full">
  <div class="md:max-w-[1350px] max-w-[600px] xl:m-auto m-6">
    <h1 class="text-3xl font-bold text-center mb-10">Öne Çıkan Materyaller</h1>
    <swiper-container
      class="mySwiper"
      pagination="true"
      pagination-clickable="true"
      space-between="30"
      slides-per-view="3"
      autoplay="true"
    >
      <swiper-slide
        ><img
          class="w-full h-full rounded-lg"
          src="https://picsum.photos/600"
          alt="photo"
      /></swiper-slide>
      <swiper-slide
        ><img
          class="w-full h-full rounded-lg"
          src="https://picsum.photos/600"
          alt="photo"
      /></swiper-slide>
      <swiper-slide
        ><img
          class="w-full h-full rounded-lg"
          src="https://picsum.photos/600"
          alt="photo"
      /></swiper-slide>
      <swiper-slide
        ><img
          class="w-full h-full rounded-lg"
          src="https://picsum.photos/600"
          alt="photo"
      /></swiper-slide>
      <swiper-slide
        ><img
          class="w-full h-full rounded-lg"
          src="https://picsum.photos/600"
          alt="photo"
      /></swiper-slide>
    </swiper-container>
  </div>
</div>
