

<div class="pb-3 bg-[#f2f2f2] container mx-auto pt-4 border-2 border-[#1C39BB] rounded-lg shadow-2xl text-blue-900 font-medium" style="border-radius: 20px;">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-3">
      <div class="flex">
       

      <form [formGroup]="userForm" (ngSubmit)="saveUserData()">
        <div class="mb-4 ml-10">AuthorID: <span class="ml-3"></span>
          <input type="text" formControlName="id" (input)="fetchUserById()" class="bg-blue-200 border border-gray-600 text-black ">
        </div>
        <div class="mb-4 ml-10">Name:<span class="ml-10"></span>  <input type="text" formControlName="name"class="text-center bg-gray-200"></div>
        <div class="mb-4 ml-10">Surname:<span class="ml-5"></span> <input type="text" formControlName="surname"class="text-center bg-gray-200"></div>
        <!-- <div class="mt-4 ml-10 ">Bio:<span class="ml-16"></span> <input type="text" formControlName="bio" class="text-center bg-gray-200"></div>  -->
    
        
      
        <div class="mt-4 ml-2 md:ml-10 flex items-center">
          <label for="bio" class="pr-2 md:pr-16">Bio:</label>
          <div class="relative w-full md:w-48">
            <textarea id="bio" formControlName="bio" class="text-center bg-gray-200 py-1 px-2 w-full text-left focus:outline-none focus:border-blue-500"></textarea>
          </div>
        </div>
        
      </form>
         
    </div>
        
    <div class="flex"> <!-- New div for aligning items to the right -->
            
      <form [formGroup]="userForm" (ngSubmit)="saveUserData()">

         <!-- <div class="mt-1 text-right font-bold mr-20">Website</div>
        <div class=" text-right font-bold text-l mr-2"> <input type="text" formControlName="webSite" class="ml-auto mt-2  text-black bg-gray-200"></div>  -->
       
        
        <div class="flex">
          <label for="webSite" class="font-bold ml-12  md:mr-16">Website:</label>
          <div class="relative">
              <input type="text" id="webSite" formControlName="webSite" class=" text-center bg-gray-200 py-1 px-2 w-full focus:outline-none focus:border-blue-500">
              <a [href]="userForm.get('webSite')?.value" target="_blank" class="absolute inset-y-0 right-0 flex items-center px-2 bg-gray-200 hover:bg-gray-300 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zM9 13V7h2v6H9zm2-8V5h-2v2h2z" />
                  </svg>
              </a>
          </div>
        </div>


        <div class="mt-5 text-center ml-7 mb-4 ">
            <button type="submit" class=" bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-xl mr-2">Save</button>
            <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-xl" (click)="updateUserData()">Update</button>
            <button type="button" class="bg-blue-600 hover:bg-red-500 text-white font-bold py-2 px-4 rounded-xl ml-2" (click)="deleteUserData()">Delete</button>

          </div>
      </form>
    </div>
  </div>
</div>
